# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Optional: ignore virtual environment
venv/
.env/

# Optional: macOS system files
.DS_Store

#GCS Credentials
app/core/drop-cars-468718-d08441443ada.json
